.label{
	-fx-font-size: 20;
	-fx-font-family: "Lucida Console";
}
#titleLabel{
	-fx-font-size: 60;
	-fx-text-fill: green;
}
/* Stile bottone di conferma */
.buttonConferma {
    -fx-background-color: #4CAF50; 
    -fx-text-fill: white;            
    -fx-font-size: 16px;             
    -fx-padding: 10px 20px;          
    -fx-border-radius: 8px;         
    -fx-background-radius: 8px;    
    -fx-border-color: #3e8e41;    
    -fx-border-width: 2px;          
    -fx-font-weight: bold;          
}

.buttonConferma:hover {
    -fx-background-color: #45a049;  
    -fx-border-color: #388e3c;      
}

.buttonConferma:pressed {
    -fx-background-color: #388e3c; 
    -fx-border-color: #2c6b2f;      
}
.taskgrid {
    -fx-border-color: blue; 
    -fx-border-width: 2px;
    -fx-background-color: lightyellow;
    -fx-hgap: 180px; 
    -fx-vgap: 10px;
    -fx-padding: 10px;

}
.taskgrid .column{

}